/* Стили страниц входа */

.enterbox {
  width: 360px;
  min-height: 460px;
  padding: 30px;
  position: relative;
  background: #34495e;
  text-align: center;
  border-radius: 0.7em;
  margin-top: 15vh;
}

.enterbox:hover {
  box-shadow: 1px 1px 15px 1px #09cae8;
  transition: 1s;
}

.enterbox h1 {
  font-size: calc(2rem + 30%);
  font-weight: 600;
  color: #09cae8;
  text-align: center;
  position: relative;
}

.inputplace {
  width: calc(300px * 0.92);
  height: calc(400px * 0.075);
  background: none;
  border: 1px solid #ffffff;
  display: block;
  margin: calc(400px * 0.05) auto;
  outline: none;
  font-size: 100%;
  color: #ffffff;
}

.inputplace:focus {
  border-color: #09cae8;
  box-shadow: 0.01px 0.01px 15px 0.01px #09cae8;
}

.inputplace:invalid:focus {
  border-color: red;
  box-shadow: none;
}

.inputplacepass2 {
  width: calc(300px * 0.92);
  height: calc(400px * 0.075);
  background: none;
  border: 1px solid #ffffff;
  display: block;
  margin: calc(400px * 0.05) auto;
  outline: none;
  font-size: 100%;
  color: #ffffff;
}

.inputplacepass2:focus {
  border-color: #09cae8;
  box-shadow: 0.01px 0.01px 15px 0.01px #09cae8;
}

.inputplacepass2:invalid:focus {
  border-color: red;
  box-shadow: none;
}

.inputplacepass2:invalid::placeholder{
  color: red;
}

.inputplace0 {
  width: calc(300px * 0.4312);
  height: calc(400px * 0.075);
  background: none;
  border: 1px solid #ffffff;
  display: inline;
  margin: auto calc(360px * 0.023);
  outline: none;
  font-size: 100%;
  color: #ffffff;
}

.inputplace0:focus {
  border-color: #09cae8;
  box-shadow: 0.01px 0.01px 15px 0.01px #09cae8;
}

.inputplace0:invalid:focus {
  border-color: red;
  box-shadow: none;
}

.errors {
  width: 360px;
  position: relative;
  background: #34495e;
  color: red;
  border-radius: 0.7em;
  margin-top: 10px;
  border: 1px solid red;
}

.button_autorisation {
  width: calc(300px * 0.92);
  height: calc(400px * 0.075);
  background: #09cae8;
  border: 1px solid #ffffff;
  display: block;
  margin: auto;
  outline: none;
  font-size: 105%;
  color: #ffffff;
}

.button_autorisation:active {
  background: #00b4cf;
}

.link { 
  text-decoration: none; 
  color:black;
  font-size: 1em;
}

.link:hover {
  text-decoration: underline;
}

.inf {
  font-size: small;
  color: #ffffff;
  text-align: justify;
  position: static;
  margin: auto calc(360px * 0.035);
}

.update {
  margin-top: 180px;
  color: #09cae8;
}

.margin01 {
  margin-top: 1vh;
}
.margin02 {
  margin-top: 2vh;
}
.margin03 {
  margin-top: 3vh;
}
.margin05 {
  margin-top: 5vh;
}
.margin3 {
  margin-top: 30vh;
}
.margin15 {
  margin-top: 15vh;
}

.margin2p {
  margin-top: 20px;
}
.margin4p {
  margin-top: 40px;
}
.helptext {
  color: white;
}
.inbutton {
  height: calc(400px * 0.075);
  background: none;
  border: none;
}


@media (min-height: 1px) {
  @media (max-height: 500px) {
  .enterbox {
      height: auto;
      margin-bottom: 10vh;
  }
  .update {
    margin-top: 10px;
  }
}
}

@media (min-height: 1px) {
  @media (max-height: 600px) {
  .enterbox {
      margin-top: 5vh;
  }
}
}

@media (min-height: 601px) {
  @media (max-height: 800px) {
  .enterbox {
      margin-top: 10vh;
  }
}
}

@media (min-height: 1300px) {
  @media (max-height: 1700px) {
  .margin4p {
    margin: 30px;
  }
  .margin05 {
    margin: 3vh;
  }
}
}

@media (min-height: 1700px) {
  @media (max-height: 2000px) {
  .margin4p {
    margin: 20px;
  }
  .margin05 {
    margin: 2vh;
  }
}
}

@media (min-width: 370px) {
  @media (max-width: 500px) {
    .enterbox {
        max-width: 350px;
        }
    .errors {
      max-width: 350px;
      }
    .inputplace0 {
        margin: auto calc(350px * 0.022);
        }
    .inf {
        margin: auto calc(360px * 0.025);
        }   
  }
  }

@media (min-width: 1px) {
  @media (max-width: 369px) {
    .enterbox {
        max-width: 335px;
        }
    .errors {
      max-width: 335px;
      }
    .inputplace0 {
        margin: auto calc(335px * 0.022);
        }
    .inf {
        margin: auto;
        } 
  }
  }