.enterbox {
  width: 360px;
  height: 460px;
  padding: 30px;
  position: relative;
  background: #34495e;
  text-align: center;
  border-radius: 0.7em;
}

.enterbox h1 {
  font-size: calc(2rem + 30%);
  font-weight: 600;
  color: #09cae8;
  text-align: center;
  position: relative;
  padding-bottom: 3vh;
}

.inputplace {
  width: calc(300px * 0.92);
  height: calc(400px * 0.075);
  background: none;
  border: 1px solid #ffffff;
  display: block;
  margin: calc(400px * 0.05) auto;
  outline: none;
  font-size: 100%;
  color: #ffffff;
}

.inputplace:focus {
  border-color: #09cae8;
  box-shadow: 0.01px 0.01px 15px 0.01px #09cae8;
}

.button_autorisation {
  width: calc(300px * 0.92);
  height: calc(400px * 0.075);
  background: #09cae8;
  border: 1px solid #ffffff;
  display: block;
  margin: calc(400px * 0.1) auto;
  outline: none;
  font-size: 105%;
  color: #ffffff;
}