.Uname {
    font-size: calc(1rem + 1em + 3vw);
    font-weight: 600;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to left, #09cae8, #34495e);
    -webkit-background-clip: text;
    text-align: center;
    position: relative;
  }
  
  .margin1 {
    margin-top: 10vh;
  }
  
  .margin2 {
    margin-top: 20vh;
  }