.Uname {
    font-size: calc(1rem + 1em + 3vw);
    font-weight: 600;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to left, #09cae8, #34495e);
    -webkit-background-clip: text;
    text-align: center;
    position: relative;
  }
  
  .button_entrance {
    background: #34495e;
    border: 2px solid #09cae8;
    height: calc(2rem + 3vh);
    width: calc(3rem + 15vw);
    outline: none;
    font-size: 1em;
    color: white;
    border-radius: 1.5em;
  }
  
  .button_entrance:hover {
    background: #09cae8;
    transition: 0.5s;
    filter: drop-shadow(0 0 0.5em #61dafbaa);
  }
  
  .button_entrance:active {
    background: #09cae8;
    border: 2px solid #09cae8;
    height: calc(2rem + 2.7vh);
    width: calc(3rem + 14vw);
    }