.margin01 {
  margin-top: 1vh;
}
.margin02 {
  margin-top: 2vh;
}
.margin03 {
  margin-top: 3vh;
}
.margin05 {
  margin-top: 5vh;
}
.margin1 {
  margin-top: 10vh;
}
.margin15 {
  margin-top: 15vh;
}
.margin2 {
  margin-top: 20vh;
}
.margin3 {
  margin-top: 30vh;
}

.margin2p {
  margin-top: 20px;
}
.margin4p {
  margin-top: 40px;
}


a {
  text-decoration: none;
  color: inherit;
}
