/* Общие стили всего приложения */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(../images/Greece.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #34495e;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

textarea {
  -webkit-appearance : none;
  -moz-appearance    : none;
  -ms-appearance     : none;
  appearance         : none;
  outline            : 0;
  box-shadow         : none;
}

@media (min-height: 1px) {
  @media (max-height: 500px) {
  body {
    overflow-y: scroll;
  }
}
}