/* Стили страницы профиля */

.mainspace {
    background: linear-gradient(to bottom, #587794, #3f566c);
    min-height: 100vh;
}

.top-line {
    background: #254360;
    height: calc(30px + 2vh);
    width: calc(100% / 12 * 10);
    position: fixed;
}

.little-Uname {
    font-size: calc(1rem + 1em + 0.5vw);
    font-weight: 600;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to left, #09cae8, #627c96);
    -webkit-background-clip: text;
    text-align: left;    
    line-height: calc(30px + 2vh);
}

.top-line-username {
    font-size: calc(1rem + 0.5vw);
    font-weight: 600;
    line-height: calc(32px + 2vh);
    float: right;
}

.main-circle {
    height: calc(20px + 2vh);
    width: calc(20px + 2vh);
    background-color: #989898;
    border: 1px solid #ffffff;
    border-radius: 50%;
    float: right;
    margin-left: calc(1vw + 2px);
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-circle:active {
    background: #00b4cf;
}

.menu {
    position: absolute;
    width: 20vw;
    top: calc(100% + 1vh);
    right: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 10px solid #254360;
    transform: translateY(-0.9vh);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.menu-active {
    position: absolute;
    width: 20vw;
    top: calc(100% + 1vh);
    right: 12px;
    padding: 10px;
    background-color: #ffffff;
    border: 10px solid #254360;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.menu-list {
    text-align: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-item {
    margin-top: 1vh;
}

.margin-top-line {
    margin-top: calc(30px + 2vh);
}


@media (min-height: 1px) {
    @media (max-height: 700px) {
        .little-Uname {
            font-size: calc(1em + 0.5vw);
        }
    }
}
  
@media (min-width: 1px) {
    @media (max-width: 600px) {
        .little-Uname {
            font-size: calc(1em + 0.5vw);
        }
    }
}


@media (min-width: 1px) {
    @media (max-width: 767px) {
        .top-line {
            width: 100%;
        }

        .menu {
            width: 50vw;
        }
        
        .menu-active {
            width: 50vw;
        }
    }
}
