/* Стили страницы профиля */

.mainspace {
    background: #587794;
    min-height: 100vh;
}

.top_line {
    background: #254360;
    height: calc(30px + 2vh);
    width: calc(100% / 12 * 10);
    position: fixed;
}

.little_Uname {
    font-size: calc(1rem + 1em + 0.5vw);
    font-weight: 600;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to left, #09cae8, #5b87b4);
    -webkit-background-clip: text;
    text-align: left;    
    line-height: calc(30px + 2vh);
}

.top_line_username {
    font-size: calc(1rem + 0.5vw);
    font-weight: 600;
    line-height: calc(32px + 2vh);
    float: right;
}

.main_circle {
    height: calc(20px + 2vh);
    width: calc(20px + 2vh);
    background-color: #989898;
    border: 1px solid #ffffff;
    border-radius: 50%;
    float: right;
    margin-left: calc(1vw + 2px);
    margin-top: 5px;
    margin-bottom: 5px;
}

.main_circle:active {
    background: #00b4cf;
}

.menu {
    position: absolute;
    width: 20vw;
    top: calc(100% + 1vh);
    right: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 10px solid #254360;
    transform: translateY(-0.9vh);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.menu_active {
    position: absolute;
    width: 20vw;
    top: calc(100% + 1vh);
    right: 12px;
    padding: 10px;
    background-color: #ffffff;
    border: 10px solid #254360;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
}

.menu_list {
    text-align: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu_item {
    padding-left: calc(0.5vw + 5px);
    text-align: left;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 100%;
}

.menu_item:hover {
    background-color: #c0c0c0;
}

.link_button {
    padding: 0;
    width: 100%;
    background-color: white;
    border: none;
}

.logout_button {
    width: 100%;
    background-color: #587794;
    border-color: black;
}

.logout_button:hover {
    background-color: #254360;
    color: white;
}

.margin_top_line {
    margin-top: calc(30px + 2vh);
}

.flex-container {
    display: flex;
}

.calendar_table {
    width: 350px;
}

.schedule_table {
    padding-top: calc(2vh + 5px);
    width: calc(100% - 350px);
}

.calendar_table2 {
    position: fixed;
    padding-top: calc(2vh + 5px);
}

@media (min-height: 1px) {
    @media (max-height: 700px) {
        .little_Uname {
            font-size: calc(1em + 0.5vw);
        }
    }
}
  
@media (min-width: 1px) {
    @media (max-width: 600px) {
        .little_Uname {
            font-size: calc(1em + 0.5vw);
        }
    }
}

@media (min-width: 671px) {
    @media (max-width: 1100px) {
        .flex-container {
            display: grid;
        }
        
        .calendar_table {
            width: 100%;
        }
        
        .schedule_table {
            width: 100%;
        }
        
        .calendar_table2 {
            display: flex;
            position: static;
        }

        .ads {
            width: calc(100% - 350px);
        }
    }
}

@media (min-width: 1px) {
    @media (max-width: 670px) {
        .flex-container {
            display: grid;
        }
        
        .calendar_table {
            width: 100%;
        }
        
        .schedule_table {
            width: 100%;
        }
        
        .calendar_table2 {
            position: static;
            text-align: center;
        }

        .react-calendar {
            display: inline-block;
        }

        .ads {
            display: inline-block;
        }
    }
}

@media (min-width: 1px) {
    @media (max-width: 767px) {
        .top_line {
            width: 100%;
        }

        .menu {
            width: 50vw;
        }
        
        .menu_active {
            width: 50vw;
        }
    }
}
