.button {
    background: #34495e;
    border: 2px solid #09cae8;
    height: calc(2rem + 3vh);
    width: calc(3rem + 15vw);
    outline: none;
    font-size: 1em;
    color: white;
    border-radius: 1.5em;
    cursor: pointer;
  }
  
  .button:hover {
    background: #09cae8;
    transition: 0.5s;
    filter: drop-shadow(0 0 0.5em #61dafbaa);
  }
  
  .button:active {
    background: #09cae8;
    border: 2px solid #09cae8;
    height: calc(2rem + 2.7vh);
    width: calc(3rem + 14vw);
    }